.App {
  text-align: center;
}


.app-link {
  border: 1px solid blue;
  padding: 5px;
  margin: 5% 2%;
 
  text-decoration: none;
}

.app-link:hover {
  text-decoration: none;
  background: blue;
  color: white
}

.link-container {
  margin-top: 5%;
}